.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 900px;
}

.titulo {
  display: flex;
  justify-content: space-between; /* Mantiene el título y el botón en los extremos horizontales */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 1rem; /* Espacio entre el título y el botón */
  height: 60px; /* (Opcional) Controla la altura del contenedor para facilitar el centrado */
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: #fff;
  border: 2px solid #f9e217;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-section {
  width: 48%;
}

.form-section h3 {
  margin-bottom: 1rem;
  color: #ec3037;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
  height: 70px;
}

.form-group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.form-group2 input[type="file"] {
  resize: none;
  height: 70px;
}

.button-container {
  text-align: right;
  padding-top: 15px;
}

.button-container #btn-aceptar {
  background-color: #ec3037;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button-container #btn-aceptar:hover {
  background-color: #cb1b20;
}

.button-container #btn-cancelar {
  background-color: #bbb;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button-container #btn-cancelar:hover {
  background-color: #939292;
}

.button-container #btn-entregar {
  background-color: #ec3037;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button-container #btn-entregar:hover {
  background-color: #cb1b20;
}

.button-container #btn-noEntregar {
  background-color: #bbb;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button-container #btn-noEntregar:hover {
  background-color: #939292;
}

#logo-recibo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
}

.input[type="text"], .input[type="number"] {
  width: 200px; /* Ajusta el ancho según sea necesario */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  height: 20px;
}

.input[type="text"]:focus, .input[type="number"]:focus {
  border-color: #d9d9d9;
  box-shadow: 0 0 5px rgba(236, 48, 55, 0.5);
  outline: none;
}

.div-input {
  margin-bottom: 10px;
}

.btnModal {
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Espaciado entre botones y inputs */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnModal:hover {
  background-color: #bbb;
  transform: translateY(-2px); /* Efecto sutil al pasar el cursor */
}

/* Modal close button */
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6B6B6B;
  transition: color 150ms ease-in-out;
}

.close:hover {
  color: #E31E24;
}

/* Ajuste para el header del modal */
.modal-header {
  position: relative;
}
