body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

header {
  background-color: #3c3c3c;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.container {
  padding: 2rem;
  margin: 0px auto;
  position: relative;
  max-width: 800px;
}
.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  margin: 20px 20px;
  background-color: white;
  border: 2px solid #ec3037;
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: all 0.3s ease-in-out;
}

.card h3 {
  color: #ec3037;
  margin: 0 0 0.5rem 0;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f9e217;
  margin: 0;
}

.history-button {
  display: flex;
  align-items: center; /* Centra el contenido del botón verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  margin-bottom: 0; /* Elimina cualquier margen que desplace el botón */
  padding: 0.5rem 1rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-height: 40px;
}

.history-button:hover {
  background-color: #bbb;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
  transition: all 0.3s ease-in-out;
}

#logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#title {
  display: flex;
  justify-content: space-between; /* Mantiene el título y el botón en los extremos horizontales */
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 1rem; /* Espacio entre el título y el botón */
  height: 60px; /* (Opcional) Controla la altura del contenedor para facilitar el centrado */
}

.card, .history-button {
  transition: all 0.3s ease-in-out;
  transform: translateY(0); /* Asegura que la posición inicial sea 0 */
}

.card:not(:hover), .history-button:not(:hover) {
  transform: translateY(0); /* Regresa a su posición original */
}